.code-input {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .code-input input {
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  /* Telefon raqam uchun maska */
  input[name="phone_number"] {
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  /* Mobil ekranlar uchun */
  @media screen and (max-width: 768px) {
    .form-container {
      max-width: 90%;
      padding: 20px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    /* button {
      font-size: 16px;
    } */
  
    .code-input input {
      width: 35px;
      height: 35px;
    }
  }

  .verify {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .resend {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-bottom: 10px;
  }